<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/recommend" method="post">
    起点：<input type="text" name="startPlace">
    城市：<input type="text" name="startPlaceCity">
    终点：<input type="text" name="endPlace">
    出发时间：<input type="text" name="startTime">
    <input type="submit" value="提交">
</form>
<br>
-----------------------------------------------
<br>
<form action="/request" method="post">
    起点：<input type="text" name="startPlace">
    城市：<input type="text" name="startPlaceCity">
    终点：<input type="text" name="endPlace">
    <!--出发时间：<input type="text" name="startTime">-->
    <input type="submit" value="提交">
</form>
</body>
</html>